* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .page {
    display: flex;
    justify-content: center;
  }

  .header { 
    padding:52px;
    background-color: #FFE138;
  }

  .header-text {
    color: black;
    font-size: 50px;
    font-family: "Times New Roman";
    text-align: center;
  }
  
  .table { 
    border: 1px solid #000000;
    margin:70px 50px;
    width:400px;
    height:100%;
  }

  .table img{
    background-repeat: no-repeat;
    width: 100%; 
    object-fit: cover; 
  }

  .text1{
     display:block;
     font-family: "Times New Roman";
     font-size: 25px;
     color:black;
     text-align: left; 
     margin-top:42px;
  }

  .text1 h3 {
    margin: 20px;
    display:block;
  }

  .text1 p {
    margin: 20px;
    font-style: normal;
    display:block;
  }

  .footer { 
    background-color: #FFE138;
    padding:52px; 
    margin-top: 70px;
  }
  
  .footer-text {
    font-size: 50px;
    font-family: "Times New Roman";
    color: black;
    text-align: center;
  }
