* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header { 
    background-color:#E5E000;
    padding: 80px;
    
  }

 .header_title { 
   color: #fff;
   font-size:50px; 
   font-family: 'Helvetica';
 }

.image-block {
    height: 1080px;
    background-image: url(images/img.png);
    background-position:cover;
    background-repeat: no-repeat;
}

.about {
    padding: 35px 80px;
    background-color:#E5E000;
}

.about_title {
   color: #fff;
   font-size:25px;
   font-family: 'Helvetica';
}

.text { 
    font-size:50px; 
    font-family: 'Helvetica';  
    font-style: normal;
    padding: 110px 80px;
    text-align: left;
}

.text em {
  font-style:normal;
  display: block;
  padding: 40px 0; 
  text-align: left;
}

.footer { 
  display: flex;
  color: #f1eeee;
  background-color: #E5E000;
  font-family: 'Helvetica';  
  font-style: normal;
  font-size: 50px;
  padding: 77px 80px;
  justify-content: space-around;
}
